@model ConsumerWebClient.Models.GuestViewModel

@{
    ViewData["Title"] = "Du har oprettet en gæst";
}

<h1>@ViewData["Title"]</h1>

<h4>Tillykke, du kan nu bruge vores online garderobe-service!</h4>
<hr />

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}