@model ErrorViewModel
@{
    Layout = "_LayoutReservations";
}

@{
    ViewData["Title"] = "OhNo";
}

<h2 class="text">Åh nej, der er sket en fejl. Prøv igen.</h2>
<p>@ViewBag.ErrorMessage</p>


