@model ErrorViewModel
@{
    Layout = "_LayoutReservations";
}

@{
    ViewData["Title"] = "OhNo";
}

<h2 class="text">Åh nej!</h2>
<h3 class="text">Der er sket en fejl, prøv igen.</h3>


