@model ConsumerWebClient.Models.ReservationViewModel

@{
    ViewData["Title"] = "Reservation";
}
@*Her hentes priserne fra ItemTypesene ind, så de kan bruges til udregninger*@
@{
    decimal jakkePris = 0;
    decimal taskePris = 0;

    foreach (var itemType in Model.ItemTypes) {
        if (itemType.TypeName.Equals("taske")) {
            taskePris = itemType.Price;
        } else if (itemType.TypeName.Equals("jakke")) {
            jakkePris = itemType.Price;
        }
    }
}

<h1>Opret Reservation</h1>

@*Her laves den form vi bruger, til at sende data med ned igennem systemet*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Reservation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @{/*TODO min og max validering af dato i javascript*/}
            <div class="form-group">
                <label asp-for="OnlyDate" class="control-label">Hvilken nat vil du i byen?</label>
                <input asp-for="OnlyDate" value="@DateTime.Now.Date" class="form-control" id="datefield" />
                <span asp-validation-for="OnlyDate" class="text-danger"></span>
            </div>
            @{/*TODO min og max validering af tidspunkt i javascript*/}
            <div class="form-group">
                <label asp-for="OnlyTime" class="control-label">Hvornår ankommer du?</label>
                <input asp-for="OnlyTime" value="@DateTime.Now.TimeOfDay" class="form-control" />
                <span asp-validation-for="OnlyTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.AmountOfJackets" class="control-label">Hvor mange jakker har du med?</label>
                <input asp-for="Reservation.AmountOfJackets" value=0 class="form-control" id="amountOfJackets" onchange="calcPrice()" />
                <span asp-validation-for="Reservation.AmountOfJackets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.AmountOfBags" class="control-label">Hvor mange tasker har du med?</label>
                <input asp-for="Reservation.AmountOfBags" value=0 class="form-control" id="amountOfBags" onchange="calcPrice()" />
                <span asp-validation-for="Reservation.AmountOfBags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.Price" class="control-label">Pris:</label>
                <input asp-for="Reservation.Price" id="res" class="form-control" onchange="calcPrice()" />
                <span asp-validation-for="Reservation.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Opret Reservation" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MyReservations">Tilbage til mine reservationer</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();

        if (dd < 10) {
            dd = '0' + dd;
        }

        if (mm < 10) {
            mm = '0' + mm;
        }
    
    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("datefield").setAttribute("min", today);
</script>
<script>
    function calcPrice(){

        let amountOfJackets = document.getElementById("amountOfJackets").value;
        let amountOfBags = document.getElementById("amountOfBags").value;

    let returnValue = parseInt(amountOfJackets)*@jakkePris+parseInt(amountOfBags)*@taskePris;
    document.getElementById("res").value=returnValue;
    }
</script>

}