@model APIClient.DTOs.ReservationDTO

@{
    ViewData["Title"] = "Reservation";
}



<h1>Opret Reservation</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Reservation">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ArrivalTime" class="control-label">Ankomst</label>
                <input asp-for="ArrivalTime" class="form-control" />
                <span asp-validation-for="ArrivalTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.AmountOfJackets" class="control-label">Antal Jakker</label>
                <input asp-for="Reservation.AmountOfJackets" class="form-control" id="amountOfJackets" onchange="calcPrice()"/>
                <span asp-validation-for="Reservation.AmountOfJackets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.AmountOfBags" class="control-label">Antal Tasker</label>
                <input asp-for="Reservation.AmountOfBags" class="form-control" id="amountOfBags" onchange="calcPrice()"/>
                <span asp-validation-for="Reservation.AmountOfBags" class="text-danger"></span>
            </div>
            <div class="form-group" >
                Pris:
                <span id="res"> 0 </span>
                <script>
                    function calcPrice(){

                        let amountOfJackets = document.getElementById("amountOfJackets").value;
                        if(isNaN(amountOfJackets)){
                            amountOfJackets=0;
                        }

                        let amountOfBags = document.getElementById("amountOfBags").value;
                        if(isNaN(amountOfBags)){
                            amountOfBags=0;
                        }

                    let returnValue = parseInt(amountOfJackets)*30+parseInt(amountOfBags)*40;
                    document.getElementById("res").innerHTML=returnValue;

                    }
    
                </script>
            </div>
            <div class="form-group">
                <input type="submit" value="Opret Reservation" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MyReservations">Tilbage til mine reservationer</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

}