<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="JacketOffDatabase"
			connectionString="Persist Security Info=False;
			 User ID=dmaa0920_1086259;
			 Password=Password1!;
			 Initial Catalog=dmaa0920_1086259;
			 Server=hildur.ucn.dk"/>
	</connectionStrings>
</configuration>