@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Tillykke, du har oprettet en gæst!";
}

<h3>@ViewData["Title"]</h3>
<hr />
<h4> Du kan nu bruge vores online garderobe-service med:</h4>

<h4>@TempData["Message"]</h4>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}